corruptPBNRef
udsCalculateSize
vdoAudit
vdoCalculateSize
vdoDebugMetadata
vdoDumpBlockMap
vdoDumpMetadata
vdoFillIndex
vdoForceRebuild
vdoFormat
vdoInitializeBlockMap
vdoListMetadata
vdoReadOnly
vdoStats
vdoWarmup
