corruptPBNRef
udsCalculateSize
vdoAudit
vdoDebugMetadata
vdoDumpBlockMap
vdoDumpConfig
vdoDumpMetadata
vdoFillIndex
vdoForceRebuild
vdoFormat
vdoInitializeBlockMap
vdoListMetadata
vdoReadOnly
vdoRegenerateGeometry
vdoStats
vdoWarmup
