corruptPBNRef
udsCalculateSize
vdoAudit
vdoDMEventd
vdoDebugMetadata
vdoDumpBlockMap
vdoDumpConfig
vdoDumpMetadata
vdoFillIndex
vdoForceRebuild
vdoFormat
vdoInitializeBlockMap
vdoListMetadata
vdoReadOnly
vdoRegenerateGeometry
vdoSetUUID
vdoStats
vdoWarmup
